<!-- <div class="topnav" id="myTopnav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
<a routerLink="/students" routerLinkActive="active" >Students</a>
 <a routerLink="/login" routerLinkActive="active">Login</a>

</div> -->



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/home" routerLinkActive="active" class="navbar-brand">Home</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/students" routerLinkActive="active" ><span class="glyphicon glyphicon-user"></span> Students  </a></li>
      <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<h2>Welcome</h2>


